<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            {% block styles %}
                <!-- Bootstrap CSS -->
                {{ bootstrap.load_css() }}
                <style>
                    body { background: #e8f1f9; }
                </style>
                
                <!-- Equinor fonts -->
                <link rel="stylesheet" href="https://eds-static.equinor.com/font/equinor-font.css" />
            {% endblock %}

            {% block title %}
            {% endblock %}
            
            <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">    
        {% endblock %}
    </head>
    <body>
        
        {% include 'nav.html' %}

        <!-- Your page content -->
        {% block content %}
        {% endblock %}

        {{ bootstrap.load_js() }}

        {% block scripts %}
            <!-- Optional JavaScript -->
        {% endblock %}
        

    </body>
</html>